extends ../frame
block content
    form#form.layui-form
        div.layui-row.layui-col-space10
            div.layui-col-lg2
                input.layui-input(placeholder='输入关键字查询', name='keywords', lay-affix="clear")
            div.layui-col-lg2
                input.layui-input(placeholder='输入省份', name='province', lay-affix="clear")
            div.layui-col-lg2
                input.layui-input(placeholder='输入市/州', name='city', lay-affix="clear")
            div.layui-col-lg2
                input.layui-input(placeholder='输入区/县', name='county', lay-affix="clear")
            div.layui-col-lg3
                button(lay-filter='form',lay-submit).layui-btn
                    i.layui-icon.layui-icon-search &nbsp;查询
                button(type='button')#btnAdd.layui-btn.layui-btn-primary
                    i.layui-icon.layui-icon-add-1 &nbsp;添加
    table#table.layui-table
block script
    script(src='/js/jquery-3.7.1.min.js')
    script(src='/js/hospital_page.js')





