extends ../frame
block content
    form#form.layui-form
        div.layui-row.layui-col-space10
            div.layui-col-lg2
                input.layui-input(placeholder='输入关键字查询', name='keywords', lay-affix="clear")
            div.layui-col-lg1
                input.layui-input(placeholder='输入省份', name='province', lay-affix="clear")
            div.layui-col-lg1
                input.layui-input(placeholder='输入市', name='city', lay-affix="clear")
            div.layui-col-lg1
                input.layui-input(placeholder='输入县', name='county', lay-affix="clear")
            div.layui-col-lg3
                button(lay-filter='form',lay-submit).layui-btn
                    i.layui-icon.layui-icon-search &nbsp;查询
                button(type='button')#btnAdd.layui-btn.layui-btn-primary
                    i.layui-icon.layui-icon-add-1 &nbsp;添加
    table#table.layui-table
block script
    script(src='/js/jquery-3.7.1.min.js')
    script.
        layui.use(['table', 'form', 'layer'], function () {
            let table = layui.table;
            let form = layui.form;
            let layer = layui.layer;
            table.render({
                elem: '#table',
                url: '/hospital/api/findAll',
                cols: [[
                    {field: 'id', title: 'ID', width: 80},
                    {field: 'name', title: '名称',width:300},
                    {field: 'link', title: '联系人', width: 100},
                    {field: 'mobile', title: '联系方式', width: 180},
                    {
                        field: 'address', title: '地址', templet: function (d) {
                            return d.province + d.city + d.county + d.address;
                        }
                    },
                    {
                        field: 'create_time', title: '创建时间', width: 200, templet: function (d) {
                            return d.create_time.toLocaleString('zh-cn');
                        }
                    },
                    {
                        field: 'operate', title: '操作', width: 200, templet: function (d) {
                            return `<button class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit">编辑</i></button>
                                <button class="layui-btn layui-btn-xs layui-btn-danger"><i class="layui-icon layui-icon-delete">删除</i></button>`
                        }
                    },
                ]],
                page: true,
            });
            form.on('submit(form)', function (data) {
                let field = data.field;
                table.reload('table', {
                    page: {curr: 1},
                    where: field,
                });
                return false;
            });
            document.querySelector('#btnAdd').addEventListener('click', function () {
                let index = layer.open({
                    type: 1,
                    content: `
                        <form class="layui-form layui-padding-3" id="addForm">
                                    <div class="layui-form-item">
                                      <label class="layui-form-label">医院名称</label>
                                      <div class="layui-input-block">
                                        <input type="text" name="name" required  lay-verify="required" placeholder="请输入名称" class="layui-input">
                                      </div>
                                    </div>
                                    <div class="layui-form-item">
                                      <label class="layui-form-label">联系人</label>
                                      <div class="layui-input-block">
                                        <input type="text" name="link" required lay-verify="required" placeholder="请输入联系人" class="layui-input">
                                      </div>
                                    </div>
                                    <div class="layui-form-item">
                                       <label class="layui-form-label">联系电话</label>
                                        <div class="layui-input-block">
                                           <input type="text" name="mobile" required lay-verify="required" placeholder="请输入联系电话" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                       <label class="layui-form-label">省份</label>
                                        <div class="layui-input-block">
                                           <input type="text" name="province" required lay-verify="required" placeholder="请输入省份" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                       <label class="layui-form-label">市/州</label>
                                        <div class="layui-input-block">
                                           <input type="text" name="city" required lay-verify="required" placeholder="请输入市" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                       <label class="layui-form-label">县/区</label>
                                        <div class="layui-input-block">
                                           <input type="text" name="county" required lay-verify="required" placeholder="请输入县" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                       <label class="layui-form-label">详细地址</label>
                                        <div class="layui-input-block">
                                           <input type="text" name="address" placeholder="请输入详细地址" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                      <div class="layui-input-block">
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        <button type="submit" lay-filter="addForm" lay-submit class="layui-btn">提交</button>
                                      </div>
                                    </div>
                                  </form>
                    `,
                    title: '添加医院信息',
                    area: ['400px', '550px'],
                    success: function () {
                        form.on('submit(addForm)', function (data) {
                            $.ajax({
                                url:'hospital/add',
                                method:'post',
                                data:data.field,
                                success:function (res)   {
                                    if(res.code===0){
                                        layer.msg('添加成功!');
                                        layer.close(index);
                                        table.reload('table', {
                                            page: {curr: 1},
                                        });
                                    }else{
                                        layer.msg(res.msg)
                                    }
                                },
                            })
                            return false
                        })
                    }
                })
            })
        });




