doctype html
html(lang='zh')
    head
        title= title +'-'+'健康测量设备管理系统'
        meta(lang='zh')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/layui/css/layui.css')
        style.
            .layui-container{
                box-sizing: border-box;
                margin-top: 20px;
            }
            .layui-form-label.required::before{
                content: '* ';
                font-weight: bold;
                color: red;
            }
    body
        // nav框架
        ul.layui-nav.layui-fixbar-top
            if title === '首页'
                li.layui-nav-item.layui-this
                    a(href='/home') 首页
            else
                li.layui-nav-item
                    a(href='/home') 首页
            if title === '医院管理'
                li.layui-nav-item.layui-this
                    a(href='/hospital') 医院管理
            else
                li.layui-nav-item
                    a(href='/hospital') 医院管理
            if title === '设备管理'
                li.layui-nav-item.layui-this
                    a(href='/device') 设备管理
            else
                li.layui-nav-item
                    a(href='/device') 设备管理
            if title === '版本管理'
                li.layui-nav-item.layui-this
                    a(href='/version') 版本管理
            else
                li.layui-nav-item
                    a(href='/version') 版本管理
            li.layui-nav-item
                a(href='javascript:;')
                    img(src='/img/avatar.jpg').layui-nav-img
                dl.layui-nav-child
                    dd
                        if user
                            a(href='javascript:;') #{user.username}
                        else
                            a(href='javascript:;') 未登录
                    dd
                        a(href='/user') 用户管理
                    dd
                        a(href='/logout') 退出登录
        div.layui-container
            block content
        script(src='/js/jquery-3.7.1.min.js')
        script(src='/layui/layui.js')
        script(src='/js/common.js')
        script
        block script
