doctype html
html
    head
        title= title
        meta(lang='cn')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/layui/css/layui.css')
    body
        // nav框架
        ul.layui-nav
            if title === '首页'
                li.layui-nav-item.layui-this
                    a(href='/home') 首页
            else
                li.layui-nav-item
                    a(href='/home') 首页
            if title === '医院管理'
                li.layui-nav-item.layui-this
                    a(href='/hospital') 医院管理
            else
                li.layui-nav-item
                    a(href='/hospital') 医院管理
            if title === '设备管理'
                li.layui-nav-item.layui-this
                    a(href='/devices') 设备管理
            else
                li.layui-nav-item
                    a(href='/devices') 设备管理
            if title === '版本管理'
                li.layui-nav-item.layui-this
                    a(href='/version') 版本管理
            else
                li.layui-nav-item
                    a(href='/version') 版本管理
            li.layui-nav-item
                a(href='javascript:;') 系统设置
                dl.layui-nav-child
                    dd
                        a(href='/user') 用户管理
                    dd
                        a(href='/logout') 退出登录
        div.layui-padding-4
            block content
        script(src='/layui/layui.js')
        block script
