extends ../frame
block content
    form#form.layui-form
        div.layui-row.layui-col-space10
            div.layui-col-lg2
                select(name='hospital_id', id='selectHospital')
            div.layui-col-lg3
                button(lay-filter='form' lay-submit).layui-btn
                    i.layui-icon.layui-icon-search &nbsp查询
                button#btnAdd(type='button').layui-btn.layui-btn-primary
                    i.layui-icon.layui-icon-add-1 &nbsp添加
    table#table.layui-table
block script
    script(src='/js/jquery-3.7.1.min.js')
    script(src='/js/version_page.js')